parameters:
    database_host:     localhost
    database_port:     ~
    database_name:     api
    database_user:     postgres
    database_password: postgres

    mailer_transport:  smtp
    mailer_host:       127.0.0.1
    mailer_user:       ~
    mailer_password:   ~

    secret:            4b0792ed56174458edbee5173fada1f20bfb94a3

    cors_allow_origin: ["http://localhost:3000", "http://localhost:9080"]

    varnish_enabled:   false
    varnish_urls:      ["http://varnish"]
